export TS_RS_EXPORT_DIR=./target/draad-bindings/
export CINEMA_DATABASE_URL=postgresql://root:password@localhost:5434/cinema_db
export DATABASE_URL=postgresql://root:password@localhost:5434/cinema_db
export CINEMA_TRAILERS_API_URL=http://localhost:3456
